p {
                    color: rgb(120, 118, 228);
                    text-align: center;
                    font-size: 18px;
                    font-style: italic;
                    background-color: rgb(214, 255, 149);

}
h1 {
                    text-align: center;              
                    background-color:aqua;
                    border: 3px solid #1c86dd;
                    padding:4px;
}
h2{  
                    text-align: center;
                    background-color: aqua;
                    color: rgb(148, 17, 255);
                    border: 3px solid #1c86dd;
                    padding:1px solid rgb(31, 106, 219);

}
.imagemacademia {
                 
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    width:50%;
                
}
.imagembarbearia {
                  
                    margin-left: auto;
                    margin-right: auto;
                    width:50%;
}

body {
                    background-color:rgb(207, 177, 235);
    
}

ul {
                    display: inline-block;
                    vertical-align: top;
}

strong {
                    color:rgb(46, 0, 0)
}
.listas{

                    font-style:italic ;
}